@import url("https://fonts.googleapis.com/css?family=Gaegu:300,700");

:root {
  --grey: #807d77;
  --cream: #f0ece3b6;
  --font-size: 130%;
  --shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* GLOBAL */
body {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
}

.app {
  background-color: var(--grey);
  background-image: url("/img/bg-tile-8.png");

  font-size: var(--font-size);
  letter-spacing: 0.07rem;
}

h1,
h2,
p,
li,
a {
  margin: 0;
  font-weight: normal;
  font-family: "Overpass", sans-serif;
  color: var(--cream);
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 10px;
}

.sectionHeader {
  padding: 0 4vw 3vw 4vw;
  max-width: 800px;
  text-align: center;
}

.sectionTitle {
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: normal;
}

/* HEADER */
.details-header {
  padding: 4vw;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

.details-header--main {
  flex: 1;
  padding: 4vw;
  order: 1;
  max-width: 550px;
}

.details-header--main--name {
  /* text-transform: uppercase; */
  margin-bottom: 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.details-header--main--address {
  font-size: 1rem;
  font-style: italic;
  text-align: right;
  margin-top: 1rem;
  opacity: 0.6;
}

.details-header--main--biog p {
  padding-bottom: 10px;
}

.contactLinks {
  order: 2;
  padding: 4vw;
  margin: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  border-radius: 4px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.header-email-link {
  color: var(--grey);
  padding: 5px;
  text-decoration: none;
}

.contactLinks--socialMediaLinks {
  display: flex;
}

.contactLinks--socialMediaLinks a {
  color: var(--grey);
  font-size: 42px;
  padding: 5px;
  text-decoration: none;
}

/* PROJECTS - current */
.currentProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-holder {
  padding: 10px;
}

.mdc-card {
  border-radius: 4px;
  box-shadow: 0px 12px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 10px 3px 0px rgba(0, 0, 0, 0.12);
}

.project-card {
  width: 300px;

  color: black;
}

.project-card--content {
  padding: 0 1rem 0 1rem;
}

.project-card--content--header {
  color: black;
  padding-top: 15px;
}

.project-card--content--sub-heading {
  margin-top: 0;
}

/* ARCHIVE */

.otherThings--list {
  background-image: url("/img/linedpaper.png");
  font-family: "Gaegu", cursive;
  margin: 0 4vw;
  padding: 4vw;
  box-shadow: var(--shadow);
  max-width: 800px;
}

.otherThings--list li {
  color: var(--grey);
}

/* FOOTER */

.footer {
  margin-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  padding: 8vw 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: whitesmoke;
  color: var(--grey);
  padding: 2vw;
  box-shadow: var(--shadow);
  border-radius: 4px;
  max-width: 210px;
}

.footer--links {
  margin: 15px 0 5px 0;
}

.footer-content--text {
  text-align: center;
  color: var(--grey);
  font-size: 18px;
  opacity: 0.6;
}

.footer-email-link {
  font-size: 18px;
  color: var(--grey);
  margin-bottom: 10px;
}

.footer--links a {
  font-size: 36px;
  padding: 5px;
  color: var(--grey);
}

section {
  padding: 4vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 660px) {
  .details-header {
    flex-direction: column;
  }

  .contactLinks {
    order: -1;
    align-self: center;
  }
}
